body {
  background: #f2f2f2;
}
@font-face {
  font-family: 'Harry P';
  src: url('./assets/fonts/HarryP.eot');
  src: url('./assets/fonts/HarryP.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/HarryP.woff2') format('woff2'),
    url('./assets/fonts/HarryP.woff') format('woff'),
    url('./assets/fonts/HarryP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

